@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.hero {
    background-color: #FEF3DB;
    font-family: "Nunito Sans", sans-serif;

    // Всі флекс-стилі для розташування в рядок переносимо на флекс-обгортку всередині контейнера
    &__divFlex {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: center; // Центрує текст і картинку по вертикалі (за потреби)
            justify-content: space-between;
        }
    }

    &__title {
        font-weight: 700;
        line-height: 120%;

        @media screen and (min-width: 768px) {
            max-width: 700px;
            font-size: 40px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 55px;
            max-width: 570px;
        }
    }

    &__description {
        line-height: 150%;
        font-weight: 400;
        max-width: 570px; // Додали px
        font-size: 20px;

        @media screen and (min-width: 768px) {
            max-width: 704px;
            font-size: 18px;
        }
    }

    &__productsButton {
        background-color: #FBC74C;
        border: none;
        border-radius: 100px;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
    }

    &__categoryButton {
        background-color: #0000000D;
        border: none;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 16px;
        border-radius: 100px;
        margin-left: 16px;
        cursor: pointer;
    }
}