.cause {
    background-color: #FEF3DB;
      font-family: "Nunito Sans", sans-serif;
      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 64px;
      padding-right: 64px;

      &__title {
        font-weight: 700;
        font-size: 40px;
        margin-left: 35px;
      }

      &__list {
        list-style: none;
        display: flex;
        margin-top: 40px;
        gap: 32px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        padding: 0;

        @media screen and (min-width: 768px) {
            flex-wrap: wrap;

            
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
      }

      &__vector {
        width: 48px;
        height: 48px;
      }


      &__description {
        max-width: 400px;
      }

}